/**
 * Body
 */
$body-bg:                   					#f9f9f9;
$body-color:                					#656565;
$font-family-base:								'Open Sans', sans-serif;
$font-size-base:								0.95rem;
$enable-prefers-reduced-motion-media-query:   	false;
$enable-rounded:                              	false;

/**
 * Primary colors
 */
$primary:										#4EA0BF;
$light: 										#f1f1f1;
$dark: 											#353535;

/**
 * Card
 */
$card-spacer-y:                     			.5rem;
$card-spacer-x:                     			1rem;

/**
 * Forms
 */
$form-group-margin-bottom:              		.5rem;
$label-margin-bottom:                   		.25rem;